<div class="container-fluid">
    <div class="row relative-container">
        <div class="new-comment-container col-sm-11" contentEditable="true"
             ng-bind-html="newComment.content | newCommentFilter"></div>
        <div class="col-sm-1 no-right-padding bottom-right-align">
            <button class="btn btn-block" data-ng-click="addNewComment()">Done</button>
        </div>
    </div>
    <div class="row comment-container" data-ng-repeat="comment in vm.comments">
        <span ng-bind-html="comment.content"></span>
    </div>
</div>