html {
    position: relative;
    min-height: 100%;
}

.blog-header {
    background: url("/assets/images/blog-header.jpg") no-repeat;
    height: 100%;
    color: #ffffff;
}

.navbar-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: transparent;
    border: transparent solid;
}

.navbar-custom .navbar-collapse.collapse.in {
    background: #e4e4e4;
}

.title-text {
    text-align: center;
}

.title-text h2{
    font-size: 55px;
}

.nav > li > a {
    background: transparent;
    color: #ffffff;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background: transparent;
    color: #c0c0c0;
}

.main-section {
    margin-bottom: 40px;
}

.inline-children * {
    display: inline-block;
}

.post {
    overflow-y: auto;
    border: transparent solid;
    border-radius: 4px;
    box-shadow: 0px 5px 20px -5px #222222;
    margin-bottom: 5px;
}

.post-footer {
    text-decoration: none;
    color: #c0c0c0;
}

.post-date {
    color: #c0c0c0;
    font-size: 12px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    text-align: center;
}