<div class="post">
    <div class="post-header">
        <h1>
            {{data.getTitle()}}
        </h1>
        <div class="post-date">
            {{data.getPostDate()}}
        </div>
    </div>
    <div class="post-body" ng-bind-html="data.getContent()">
    </div>
    <div class="post-footer">
        <div class="feedback-section pull-right">
            <a href="#">
                <span class="glyphicon glyphicon-heart"></span>
                <span>{{data.getLikesCount()}}</span>
                <span>Likes</span>
                <span class="glyphicon glyphicon-comment"></span>
                <span>{{data.getCommentsCount()}}</span>
                <span>Comments</span>
            </a>
        </div>
    </div>
</div>