<div class="post">
    <div class="post-header">
        <h1>
            {{ data.title }}
        </h1>
        <div class="post-date">
            {{ data.postDate | date }}
        </div>
    </div>
    <div class="post-body" ng-bind-html="data.content">
    </div>
    <div class="post-footer">
        <div class="feedback-section inline-children
                    col-xs-offset-3 col-xs-9">
            <p ng-click="$parent.likePost(index)">
                <span class="glyphicon glyphicon-heart"></span>
                <span>{{ data.getLikesCount() }} Likes</span>
            </p>
            <p ng-click="$parent.commentPost(index)">
                <span class="glyphicon glyphicon-comment"></span>
                <span>{{ data.getCommentsCount() }}</span>
                <span>Comments</span>
            </p>
        </div>
        <div class="comment-area" ng-show="data.isCommenting">
            <input type="text" placeholder="Say something...">
        </div>
    </div>
</div>